<h1>products</h1>

<%= form_tag products_path, method: :get do %>
  <%= label_tag :search, "Search by category:" %>
  <%= select_tag :search, options_for_select(["cars", "bikes", "Home", "Mobile Phones", "Kitchen Items","Kitchen others"], params[:search]) %>
  <%= label_tag :price, "Max price:" %>
  <%= select_tag :price, options_for_select(["5000", "10000", "20000", "50000", "100000","600000"], params[:price]) %>
  <%= label_tag :location, "Location:" %>
  <%= select_tag :location, options_for_select(["ujjain", "indore", "bhopal", "Kota"], params[:location]) %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>photo</th>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th>location</th>
      <th>contact seller</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <% unless product.user_id == current_user.id %>
      <tr>
        <td><%= image_tag product.image,style: "width: 200px; display: block"%></td>
        <td><b><%= product.title%></b></td>
        <td><%= product.price%></td>
        <td><%= product.description%></td>
        <td><%= product.location%></td>
        <td><%= link_to "Messege", new_product_room_path(product)%></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
