<h3> <%= link_to "mypage",users_path %></h3>
<h1>products</h1>
<table>
  <thead>
    <tr>
      <th>photo</th>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th>location</th>
      <th>contact seller</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <% unless product.user_id == current_user.id %>
      <tr>
        <td><%= image_tag product.image,style: "width: 200px; display: block"%></td>
        <td><b><%= product.title%></b></td>
        <td><%= product.price%></td>
        <td><%= product.description%></td>
        <td><%= product.location%></td>
        <td><%= link_to "Messege", new_product_room_path(product)%></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
